<template>
  <v-container
    fill-height
    style="height: calc(100vh - 58px);"
  >
    <v-layout align-center>
      <v-flex text-center>
        <h1 class="display-2 teal--text">Ah sh!t, here we go again !</h1>
        <p>The page you were looking for does not exist</p>
        <v-btn
          :to="`/`"
          outlined
          color="teal"
        >
          Get me outta here !
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'E404',
    props: {
      lang: {
        type: String,
        default: 'en',
      },
    },
    created () {
      this.$ssrContext && this.$ssrContext.res.status(404)
    },
  }
</script>