<template>
    <v-row class="fill-height">
        <v-col class="pt-12">
            <v-container>
                <v-sheet height="64">
                    <v-toolbar flat color="white">
                    <v-btn color="primary" dark @click.stop="dialog = true">
                        New booking
                    </v-btn>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-title>Tennis Planning</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-btn outlined class="mr-4" @click="setToday">
                        Today
                    </v-btn>
                    </v-toolbar>
                </v-sheet>
            </v-container>

            <v-dialog v-model="dialog" max-width="500">
                <v-card>
                <v-container>
                    <v-form @submit.prevent="addEvent">
                        <v-text-field disabled label="you" v-model="me.email"></v-text-field>
                        <v-select v-model="opponent" :rules="opponentValidation" :items="users" item-text="email" item-value="id" single-line auto label="Select opponent"></v-select>
                        <v-select v-model="court" :rules="courtValidation" :items="courts" item-text="label" item-value="id" single-line auto label="Select court"></v-select>
                        <v-text-field v-model="day" :rules="dayValidation" type="date" label="Day (required)"></v-text-field>
                        <v-text-field v-model="slot" :rules="slotValidation" type="time" label="Slot (required)"></v-text-field>
                        <v-btn type="submit" color="primary" class="mr-4" @click.stop="dialog = false">
                            Book this slot !
                        </v-btn>
                    </v-form>
                </v-container>
                </v-card>
            </v-dialog>

            <v-sheet height="600">
                <v-calendar
                ref="calendar"
                v-model="focus"
                :color="color"
                :events="events"
                :event-margin-bottom="3"
                :now="today"
                type="4day"
                @click:event="showEvent"
                ></v-calendar>
                <v-menu
                v-model="selectedOpen"
                :close-on-content-click="false"
                :activator="selectedElement"
                full-width
                offset-x
                >
                    <v-card color="grey lighten-4" :width="350" flat>
                        <v-toolbar :color="selectedEvent.color" dark>
                            <v-btn @click="deleteEvent(selectedEvent)" icon>
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                            <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                            <div class="flex-grow-1"></div>
                        </v-toolbar>

                        <v-card-text>
                            <form>
                                <p><b>Players : </b>{{selectedEvent.player}} <b>and</b> {{selectedEvent.opponent}}</p>
                                <p><b>Court : </b>{{selectedEvent.court}}</p>
                                <p><b>Day : </b>{{new Date(selectedEvent.start).toDateString()}}</p>
                                <p><b>From </b>{{new Date(selectedEvent.start).toTimeString().substr(0,5)}} <b>to</b> {{new Date(selectedEvent.end).toTimeString().substr(0,5)}}</p>
                            </form>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn text color="secondary" @click="selectedOpen = false">
                                Close
                            </v-btn>
                        </v-card-actions>
                    </v-card>
               </v-menu>
            </v-sheet>
        </v-col>
    </v-row>
</template>

<script>
/*eslint-disable*/
import axios from 'axios'
export default {
  data: () => ({
    today: new Date().toISOString().substr(0, 10),
    focus: new Date().toISOString().substr(0, 10),
    type: '4day',
    me: JSON.parse(localStorage.getItem('user')),
    player: null,
    opponent: null,
    day: null,
    slot: null,
    court: null,
    users: null,
    courts: null,
    color: '#1976D2', // default event color
    currentlyEditing: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    dialog: false,
    opponentValidation : [ v => !!v || `You must select an opponent !` ],
    courtValidation : [ v => !!v || `You must select a court !`],
    dayValidation: [
        v => new Date(v) > new Date() || `Hmm, outstanding move ! Check your slot again !`
    ],
    slotValidation: [
        v => Number(v.substr(0,2)) > 8 || `You can't book before 8am !`,
        v => Number(v.substr(0,2)) <= 23 || `You can't book after 11pm !`
    ]
  }),
  mounted () {
    this.getEvents()
    this.getUsers()
    this.getCourts()
  },
  methods: {
    getUsers() {
        axios.get('/api/users').then(
            response => {
                /**
                 * Get all users except me
                 * using const to bypass vue reactivity
                 * otherwise, we get null
                 */
                const users = response.data.filter(e=>e.id!=this.me.id)
                this.users = users
            }
        ).catch(
            error => {
                console.error(error)
                this.users = null
            }
        )
    },
    getCourts() {
        axios.get('/api/courts').then(
            response => this.courts = response.data
        ).catch(
            error => {
                console.error(error)
                this.courts = null
            }
        )
    },
    getEvents () {
        axios.get('/api/reservations').then(
            response => {
                /**
                 * using const to bypass vue reactivity
                 * otherwise, we always fetch the same event...
                 */
                const events = []
                response.data.map(async element => {
                    let event = {}
                    event.id = element.id
                    console.log('EVENT',element)
                    event.player = await axios.get(`/api/users/${element.player}`)
                    event.player = event.player.data.email
                    event.name = event.player
                    event.opponent = await axios.get(`/api/users/${element.opponent}`)
                    event.opponent = event.opponent.data.email
                    event.court = await axios.get(`/api/courts/${element.court}`)
                    event.court = event.court.data.label
                    event.start = new Date(element.slot).toISOString().substr(0,16)
                    event.end = new Date(element.slot+3600*1000).toISOString().substr(0,16)
                    events.push(event)
                })
                this.events = events
            }
        ).catch(
            error => {
                console.error(error)
                this.events = null
            }
        )
    },
    setToday () {
      this.focus = this.today
    },
    async addEvent () {
        if (this.day && this.slot && this.opponent && this.court) {
            /**
             * Convert day and hour of slot booked to timestamp
             */
            let slotHours = Number(this.slot.substr(0,2))
            if (slotHours < 8) throw `You can't book before 8am !`
            let slot = new Date(this.day)
            slot.setHours(slot.getHours()+Number(this.slot.substr(0,2)))
            slot = Date.parse(slot)
            try {
                await axios.post('/api/reservations',{
                    player: this.me.id,
                    opponent: this.opponent,
                    court: this.court,
                    slot: slot
                })
            } catch(e) {
                console.error(e)
            }
            this.getEvents()
            this.slot = '',
            this.opponent = '',
            this.court = ''
        } else {
            alert('You must inform at least the slot, the court and the opponent')
        }
    },
    async deleteEvent(ev) {
        try {
            await axios.delete(`/api/reservations/${ev.id}`)
        } catch(e) {
            console.error(e)
        }
        this.selectedOpen = false,
        this.getEvents()
    },
    showEvent ({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => this.selectedOpen = true, 10)
      }
      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }
      nativeEvent.stopPropagation()
    }
  }
}
</script>