<template>
    <v-app id="inspire">
        <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-alert v-if='wrongAuth' dismissible color='error' type="error">Erreur d'authentification, veuillez réessayer !</v-alert>
                <v-card class="elevation-12">
                <v-toolbar color="teal" dark flat>
                    <v-toolbar-title>Login form</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                        <v-text-field v-model="email" label="Login" name="login" prepend-icon="person" type="text"></v-text-field>
                        <v-text-field v-model="password" @keyup.enter="login" id="password" label="Password" name="password" prepend-icon="lock" type="password"></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="teal" class="white--text" @click='login'>Login</v-btn>
                </v-card-actions>
                </v-card>
            </v-flex>
            </v-layout>
        </v-container>
        </v-content>
    </v-app>
</template>

<script>
export default {
    data: () => ({
            email: '',
            password: '',
            wrongAuth: false
    }),
    methods: {
        login: async function() {
            const data = {
                email: this.email,
                password: this.password
            }
            this.$store.dispatch('login', data).then(
                /**
                 * localStorage.setItem too slow ?
                 * Couldn't find the origin of this problem,
                 * Nasty patch with setTimeout...
                 * Note : Without this setTimeout, we have a systematic authentication failure !
                 */
                () => setTimeout(()=>this.$router.push({name: 'home'}),500)
            ).catch(
                () => this.wrongAuth = true
            )
        }
    }
}
</script>