<template>
    <v-app id="inspire">
        <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                <v-toolbar color="teal" dark flat>
                    <v-toolbar-title>Logout confirmation</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    Are you sure you want to logout ?
                </v-card-text>
                <v-card-actions>
                    <v-btn color="gray" @click="goback">Cancel</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="teal" class="white--text" @click='logout'>Logout</v-btn>
                </v-card-actions>
                </v-card>
            </v-flex>
            </v-layout>
        </v-container>
        </v-content>
    </v-app>
</template>

<script>
export default {
    methods: {
        logout: function() {
            this.$store.dispatch('logout').then(
                () => this.$router.push({name: 'home'})
            ).catch(e=>console.log(e))
        },
        goback: function() {
            this.$router.go(-1)
        }
    }
}
</script>