<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <router-link :to="{name:'home'}">
          <span>Tennis</span>
          <span class="font-weight-light"> Reservation</span>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <router-link v-if="isAuth" :to="{name: 'logout'}">Logout</router-link>
      <router-link v-else :to="{name: 'login'}">Login</router-link>
    </v-app-bar>
    <router-view></router-view>
  </v-app>
</template>

<script>
/* eslint-disable */
export default {
  name: "App",
  computed: {
    isAuth: function() {
      return this.$store.getters.isAuth
    }
  }
};
</script>